// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$color-primary: #FFC65A;
$color-secondary: #1EDD88;
$color-white: #FFFFFF;
$color-black: #000;
$color-grey0: #f8f8f8;
$color-grey-1: #dbe1e8;
$color-grey-2: #b2becd;
$color-grey-3: #6c7983;
$color-grey-4: #454e56;
$color-grey-5: #2a2e35;
$color-grey-6: #12181b;
$color-grey-7: #F4F4F4;
$color-grey-8: #d3d3d3;
