// Specific CSS for your home-page

.home_video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: -2;
}

.home-video-wrapper {
  height: 100vh;
  display: flex;
  margin-bottom: 10px;
}

h1.home {
  color: $color-white;
  z-index: 500;
  font-family: 'Bangers', cursive;
  font-size: 200px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.call_to_action {
  z-index: 1000;
  font-family: 'Bangers', cursive;
  padding: 10px;
  margin-bottom: 90px;
  width: 380px;
  border-radius: 20px;
  border-style: dashed;
  border-width: medium;
  align-content: center;
  text-align: center;
  font-size: 45px;
}

.call_to_action:hover {
  border-style: solid;
  border-width: medium;
  border-color: $color-secondary;
  color: $color-secondary;
}

#main_video {
  opacity: 90%;
}

#in_video_wrap {
  margin-left: 24px;
  align-items: center;
  width: 100%;
}

.card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 20px;
  border-style: none;
}

.container-fluid {
  margin-left: 0 !important;
}

#radio__lemon {
  background-color: black;
  width: 100%;
}

#radio__lemon:hover {
  border-style: none !important;
  background-color: black;
}

#radio__card {
  background-color: black;
  padding-top: 30px;
  margin-bottom: 40px;
}

#radio__card:hover {
  border-style: none !important;
  background-color: black;
}

h2.text-center {
  font-family: 'Bangers', cursive;
  color: white;
}

#h2__black {
  font-family: 'Bangers', cursive;
  color: black;
  margin-top: 0;
  margin-bottom: 50px;
}

.brand__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 70%;
}


.card__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 40px;
  width: 70%;
}

h3 {
  text-align: center;
  margin: 4px;
  padding: 5px;
  font-size: 30px;
  font-weight: bold;
}

h4 {
  text-align: center;
  margin-top: 4px;
  padding: 5px;
  font-size: 15px;

}

.cards__link {
  text-decoration: none !important;
}
