// Specific CSS for your home-page
body {
  background-color: $color-white;
}

.home-wrapper {
  min-height: calc(100vh - 60px);
}

.home_video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: -2;
}

.home-video-wrapper {
  height: 100vh;
  display: flex;
}

h1.home {
  color: $color-white;
  z-index: 500;
  font-family: 'Bangers', cursive;
  font-size: 200px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.call_to_action {
  z-index: 1000;
  font-family: 'Bangers', cursive;
  padding: 10px;
  width: 380px;
  border-radius: 20px;
  border-style: dashed;
  border-width: medium;
  align-content: center;
  text-align: center;
  font-size: 45px;
}

.call_to_action:hover {
  border-style: solid;
  border-width: medium;
  border-color: $color-secondary;
  color: $color-secondary;
}

#main_video {
  opacity: 90%;
}

#in_video_wrap {
  margin-left: 24px;
  align-items: center;
  width: 100%;
}
