.locations__wrapper {
  margin-right: auto;
  margin-left: auto;
}

.search-controls-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 1rem 0;
}

.no-location-image-cont {
  position: absolute;
  left: 20%;
  bottom: 25%;
}
