.heading.checkout-heading {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.coach__avatar-payments {
  margin-right: 4rem;
}

.checkout-info {
  font-size: large;
}

.btn.btn__lemon-generic.btn_checkout {
  margin-top: 2rem;
}
