  <div data-coaches-search-target="list">
    <div class="coaches_container">
      <% coaches.each do |coach| %>
      <div class="card__coach">
        <div class="card__coach-header">
          <img src="<%= cl_image_path coach.user.photo.key, gravity: :face,  crop: :fill, width: 400, height: 400 %>" class="avatar-bordered", data-bs-toggle="dropdown", aria-haspopup=true, aria-expanded=false>
        </div>
        <div class="card__coach-body">
          <h2><%= coach.user.first_name %></h2>
          <h3>Style: <%= coach.style  %></h3>
          <h4>"<%= coach.bio  %>"</h4>
        </div>
      </div>
      <% end %>
    </div>
  </div>
