<div class="location-modal__itinerary_form w-100 <%= empty ? '' : 'd-none' %>" data-location-modal-target="createItineraryForm">
  <p>Create a new skate route</p>
    <%= simple_form_for([itinerary]) do |f| %>
    <div class="d-flex justify-content-between mb-3">
      <%= f.input :title, label: false, wrapper_html: { class: "location-modal__itinerary_form__input_wrapper" } %>
      <%= f.submit "create itinerary", class: "btn btn-primary modal__form__button" %>
    </div>
    <% end %>
    <button class="btn btn-primary" data-action="click->location-modal#cancelForm">Cancel</button>
</div>
