<table class="table itinerary_table">
    <thead>
      <tr>
        <th scope="col" class='image_col'></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col" class='bin-col'></th>
      </tr>
    </thead>
    <tbody>
    <% itinerary.list_items.sort_by{|obj| obj.id}.each do |item| %>
      <%= render 'shared/list_item', item: item %>
    <% end %>
  </tbody>
</table>
