<div class="modal__form__container w-100">
  <%= simple_form_for([location, list_item]) do |f| %>
    <div class="d-flex justify-content-between">
      <%= f.association :itinerary, collection: current_user.itineraries, prompt: "Select a route", label: false, input_html: {class: "m-0"} %>
      <%= f.submit "Add to route", class: "btn btn-primary modal__form__button" %>
    </div>
  <% end %>
  <small>Create a new route</small>
</div>
