<div class="modal__form__container w-100 <%= empty ? 'd-none' : '' %>" data-location-modal-target="addListItemFormContainer" data-location-index-target="addListItemForm">
  <%= simple_form_for(
    [location, list_item],
    # remote: true,
    data: {
      location_modal_target: "addListItemForm",
      action: "submit->location-modal#addItemToItinerary",
      }) do |f|
  %>
    <div class="d-flex justify-content-between">
      <%= f.association :itinerary, collection: current_user.itineraries, prompt: "Select a route", label: false,
        input_html: {class: "m-0", data: {location_index_target:"dropDown"}} %>
      <%= f.submit "Add to route", class: "btn btn__lemon-generic modal__form__button" %>
    </div>
  <% end %>
  <a class="modal__form__link" data-action="click->location-modal#displayForm">Create a new route</a>
</div>
