<div class="modal__form__container w-100 <%= empty ? 'd-none' : '' %>" data-location-modal-target="addListItemForm">
  <%= simple_form_for([location, list_item]) do |f| %>
    <div class="d-flex justify-content-between">
      <%= render :partial => 'shared/itinerary_select', :locals => { :f => f } %>
      <%= f.submit "Add to route", class: "btn btn-primary modal__form__button" %>
    </div>
  <% end %>
  <a class="modal__form__link" data-action="click->location-modal#displayForm">Create a new route</a>
</div>
