<div class="home-video-wrapper">
  <div id="main_video">
    <%= video_tag "banner_video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  </div>
  <div class="d-flex flex-column justify-content-center">
    <h1 class="home">BRINGING SKATERS TOGETHER</h1>
    <h2 class="call_to_action">Join our community</h1>
  </div>
</div>
