.simple-calendar {

  table {
    min-height: 200px;
  }
  .today {
    background-color: #FAF3DD;
  }

  table, th, td {
    border: 1px solid;
    border-color: $color-grey-3;
    background-color: $color-white;
  }

  .btn{
    font-family: 'Bangers', cursive;
    padding: 5px;
    height: 50px;
    width: 150px;
    align-items: center;
    position: center;
    margin-bottom: 20px;
    border-radius: 15px;
    border-color: $color-black !important;
    border-width: medium;
    align-content: center;
    text-align: center;
    font-size: 20px;
    color:$color-grey-6 !important;
  }
  .btn:hover {
    border-color: $color-primary !important;
    color: $color-primary !important;
    background-color: black;
    border-style: solid;
  }
}

.meeting {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.meeting:hover {
  background: #1BCB7F;
  color: white;
}

td {
  font-size: 14px;
  font-weight: bold;
}

th {
  font-size: 18px;
}

.meeting > p {
  font-size: 14px;
}



.calendar-container {
  padding: 16px;
}

.calendar-heading{
  display: flex;
  justify-content: space-between;
}


.calendar-heading .btn{
  font-family: 'Bangers', cursive;
  padding: 5px;
  height: 50px;
  width: 100px;
  border-style: dashed;
  align-items: center;
  position: center;
  margin-bottom: 20px;
  border-radius: 15px;
  border-color: $color-black;
  border-width: medium;
  align-content: center;
  text-align: center;
  font-size: 20px;
  color:$color-grey-6;
}

.calendar-heading .btn:hover {
  border-color: $color-primary !important;
  color: $color-primary !important;
  background-color: black;
  border-style: solid;
}

.calendar-heading .calendar-title {
  border: none !important;
  background-color: transparent !important;
  color: $color-grey-6;
  margin-top: 5px;
}

.calendar-heading .calendar-title:hover {
  border: none !important;
  background-color: transparent !important;
  color: $color-grey-6 !important;
  margin-top: 5px;
}

.flatpickr-day.selected {
  border-color: $color-primary !important;
  background: $color-primary !important;
}
