.card {
  margin: 10px;
  overflow: hidden;
  width: 300px;
}

.card:hover {
  box-shadow: 0 2px 10px $color-secondary;
  color: $color-grey-6 !important
}

.card-header {
  height: 250px;
  border-bottom-style: none;
}

.card-header img {
  object-fit: cover;
  object-position: top;
  display: block;
  height: 100%;
  width: 100%;
}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  color: $color-grey-6 !important;
}


.card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  text-align: center;
  color: $color-grey-6 !important
}


.card-body {
  border-top-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
  min-height: 100px;
}

.locations-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}


.index-content {
  padding: 16px;
  display: flex;
  grid-template-columns: 1fr 1fr;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .locations-container {
    grid-template-columns: 1fr;
  }
  .map-container{
    visibility: hidden;
  }
}

@media (min-width: 576px) {
  .locations-container {
    grid-template-columns: 1fr;
  }
  .map-container{
    visibility: hidden;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .locations-container {
    grid-template-columns: 1fr 1fr;
  }
  .map-container{
    visibility: hidden;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .locations-container {
    grid-template-columns: 1fr 1fr;
  }
  .map-container{
    visibility: visible;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .locations-container {
    grid-template-columns: 1fr 1fr;
  }
  .map-container{
    visibility: visible;
  }
}
