.card__coach {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center;
  min-width: 300px;
  min-height: 400px;
}



.card__coach-header {
  height: 250px;
  border-bottom-style: none;
  align-items: center;
  background-color: white !important;
  border-radius: 10px !important;
}

.card__coach-header img {
  object-position: center !important;
  position: relative;
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 100% !important;
}

.card__coach h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  color: $color-grey-6 !important;
}


.card__coach p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  text-align: center;
  color: $color-grey-6 !important
}

.card__coach h3 {
  text-align: center;
  font-size: 20px;
  opacity: .8;
  color: $color-grey-6 !important
}

.card__coach h4 {
  text-align: center;
  font-style: italic;
}

.card__coach-body {
  border-top-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  min-height: 100px;
}

.coaches__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // padding: 8px;
  margin: 20px;
  padding: 8px;
  // justify-content: space-around;
  // flex-wrap: wrap;
  .coach__card_link {
    margin: 20px !important;
    padding: 20px;
  }
}

.coach__card_link:hover {
  box-shadow: 0 0.5px 2px $color-secondary;
  color: $color-grey-6 !important
}
