.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid $color-grey-8;
  box-shadow: none;
  background-color: $color-grey-7 !important;
}

.map-container {
  height: calc(100vh - 180px);
  min-height: 80vh;
  flex-grow: 2;
  top: 120px;
  position: sticky;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}


#instructions {
position: absolute;
margin: 20px;
width: 25%;
top: 0;
bottom: 20%;
padding: 20px;
background-color: #0e2127;
opacity: 80%;
overflow-y: hidden;
overflow-x: hidden;
font-family: sans-serif;
color: #fff;
height: fit-content;
max-height: 19vh;
border-radius: 5px;
p {
  margin-bottom: 0;
}
}

.show-directions {
  max-height: 60vh !important;
  overflow-y: auto !important;
}

#directions-show, #directions-hide {
  cursor: pointer;
  &:hover {
    color: $color-secondary;
  }
}

.truck {
width: 20px;
height: 20px;
border: 2px solid #fff;
border-radius: 50%;
background: #3887be;
pointer-events: none;
}
