.kill-padding {
  padding: 0 !important;
}

.modal-header {
  .carousel-container {
    width: 100%;
  }
  .btn-close {
    position: absolute;
    z-index: 9999;
    top: 10px;
    right: 10px;
  }
}

.modal__link {
  cursor: pointer;
  text-decoration: none;
}

.border-killer {
  border: 0 !important;
}

.modal__form__container {
  .list_item_itinerary {
    margin-bottom: 0 !important;
  }
  .modal__form__button {
    width: auto;
  }
}
