.navbar-lewagon {
  background:transparent !important;
  transition: 0.5s ease;
  position: sticky;
  top: 0;
}

.navbar-lewagon.scrolled {
  background:$color-primary !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

.container-fluid{
  justify-content: space-between;
}

.form_width{
  width: 600px;
}

@media(max-width: 992px) {
  .form_width{
    width: 350px;
  }
}

@media(max-width: 768px) {
  .form_width{
    width: 200px;
  }
  .kill-mx-auto{
    margin-left: 0 !important;
  }
}
