.search-form {
  border-style: solid;
}

.search-form{
  width: 600px;
}

@media(max-width: 992px) {
  .search-form{
    width: 350px;
  }
}

@media(max-width: 768px) {
  .search-form{
    width: 200px;
  }
  .search-form{
    margin-left: 0 !important;
  }
}
