.image_col {
  width:75px;
  margin-right: 30px;
}

.itinerary-cell {
  display: flex;
  height: 75px;
  align-items: center;
}

.title-cell {
  margin-right: 2rem
}

.itinerary_table {
  padding: 2rem;
}

.cell__delete {
  padding-right: 1rem;
}
