.profile-bg{
  background-color: $color-profile-secondary !important;
}

.item1 { grid-area: u; }
.item2 { grid-area: fave; }
.item3 { grid-area: routes; }
.item4 { grid-area: cal; }
.item5 { grid-area: other; }

.profile_container{
  margin: 16px;
  display: grid;
  grid-template-areas:
    'u u u fave fave fave fave routes routes'
    'u u u cal cal other other routes routes';
  grid-template-rows: 325px 325px;
  grid-template-columns: 200px 100px;
  gap: 20px;
  padding: 10px;
}

.profile_container h2{
  font-size: 50px;
}

.profile_container p {
  font-size: 16px;
}


.item1{
  align-items: center;
  padding: 24px;
}

.profile_container > div {
  background-color: $color-profile-primary;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border-radius: 16px;
}

.avatar-bordered {
  height: 250px;
  width: 250px;
}

.profile-image {
  margin: 50px 50px 0px 50px;
}
