<div>
  <h3>Book me</h3>

  <%= simple_form_for appointment, html: { class: "book-me-form"} do |f| %>
  <%= f.input :coach_id, as: :hidden, input_html: { value: coach.id  }%>
  <%= f.input :start_time, as: :string, label: false, html5: true, input_html: {class: "datepicker"} %>
  <%= f.button :submit, "Request booking", class:"btn btn__lemon-generic btn__request-booking" %>
  <% end %>

</div>
