<div class="card">
  <% url = location.photos.attached? ? cl_image_path(location.photos.first.key) : "stock_location1.jpg" %>
  <div class="card-header ">
    <%= image_tag(url) %>
  </div>
  <div class="card-body">
    <div>
      <i class="heart-icon fas fa-heart <%= current_user.favorited?(location) ? "favorited-cardheart" : "not-favorited-cardheart" %>" data-favorites-target="cardheart"></i>
      <h3><%= location.title %></h3>
      <h4><%= location.address%></h4>
    </div>
  </div>
</div>
