  <div class="index-content mx-1">
    <div class="locations-container" data-locations-search-target="list">
      <% locations.each do |location| %>
        <div>
          <p><%= render "show_modal", location: location, num: location.id, list_item: @list_item, itinerary: @itinerary %></p>
        </div>
      <% end %>
    </div>
