<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@location.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @location.description %>
<% content_for :meta_image, cl_image_path(@location.photo.path) %>


<h1><%= @location.title %></h1>
<p><%= @location.description %></p>
<p><%= @location.address %></p>
